In [1]:
import imblearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
corruption_df=pd.read_excel('corruption.xlsx')

In [4]:
corruption_df

,Country Rank,Country/Territory,Country Code,Region,CPI 2015 Score,Number of Surveys Used,Std Error,Min,Max,90% Lower CI,...,Bertelsmann Foundation TI,Arican Development Bank,IMD World Competitiveness Year Book,Bertelsmann Foundation SGI,World Justice Project ROL,PRS Internationl Country Risk Guide,Economist Intelligence Unit,IHS Global Insight,PERC Asia Risk Guide,Freedom House NIT
0,1,Denmark,DNK,WE/EU,91,7,2.16,83,98,87,...,NaN,NaN,96.0,97.0,88.0,98.0,88.0,83.0,NaN,NaN
1,1,New Zealand,NZL,AP,91,7,2.32,83,98,87,...,NaN,NaN,93.0,97.0,83.0,98.0,88.0,83.0,NaN,NaN
2,3,Finland,FIN,WE/EU,90,7,1.77,83,98,87,...,NaN,NaN,91.0,89.0,88.0,98.0,88.0,83.0,NaN,NaN
3,4,Sweden,SWE,WE/EU,89,7,1.71,83,98,86,...,NaN,NaN,87.0,89.0,88.0,98.0,88.0,83.0,NaN,NaN
4,5,Norway,NOR,WE/EU,88,7,2.24,81,98,84,...,NaN,NaN,84.0,81.0,90.0,98.0,88.0,83.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,163,South Sudan,SSD,SSA,15,3,1.45,12,17,13,...,15.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,165,Sudan,SDN,MENA,12,6,3.64,0,21,6,...,15.0,20.0,NaN,NaN,NaN,2.0,21.0,11.0,NaN,NaN
165,166,Afghanistan,AFG,AP,11,4,3.49,2,19,5,...,19.0,NaN,NaN,NaN,2.0,NaN,NaN,11.0,NaN,NaN
166,167,Korea (North),PRK,AP,8,3,3.38,1,12,2,...,10.0,NaN,NaN,NaN,NaN,12.0,NaN,1.0,NaN,NaN
167,167,Somalia,SOM,SSA,8,4,2.32,2,12,4,...,6.0,2.0,NaN,NaN,NaN,12.0,NaN,11.0,NaN,NaN

In [5]:
corruption_df=corruption_df[['Country/Territory','CPI 2015 Score']]

In [6]:
corruption_df

    Country/Territory  CPI 2015 Score
0             Denmark              91
1         New Zealand              91
2             Finland              90
3              Sweden              89
4              Norway              88
..                ...             ...
163       South Sudan              15
164             Sudan              12
165       Afghanistan              11
166     Korea (North)               8
167           Somalia               8

[168 rows x 2 columns]

In [7]:
corruption_df.isna().sum()/len(corruption_df)

Country/Territory    0.0
CPI 2015 Score       0.0
dtype: float64

In [9]:
list(corruption_df['Country/Territory'].sort_values())

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo Republic',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Côte d´Ivoire',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Korea (North)',
 'Korea (South)',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'The FYR of Macedonia',
 'Timor-Leste',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [10]:
def rename(x):
    if x=='Papua New Guinea':
        return 'Guinea'
    else:
        return x

In [11]:
corruption_df['Country/Territory']=corruption_df['Country/Territory'].apply(rename)

<ipython-input-11-843751777ad9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  corruption_df['Country/Territory']=corruption_df['Country/Territory'].apply(rename)

In [12]:
corruption_df.to_csv('CORRUPTION.csv')