In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass 
import numpy as np
password = getpass.getpass()

········

In [7]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/happiness'
engine = create_engine(connection_string)
query = '''SELECT h.country, r.yes_percentage , h.happy_score
FROM religions r
JOIN hscore h
USING (country);'''

data = pd.read_sql_query(query, engine)
data.head()

   country yes_percentage  happy_score
0  Estonia            16%     5.628909
1   Sweden            17%     7.288922
2  Denmark            19%     7.514425
3   Norway            22%     7.603434
4    Japan            24%     5.879684

In [22]:
def clean(x):
    if '%' in  str(x):
        x = x[:-1]
        return x
    else:
        return x
    
data['yes_percentage']=data['yes_percentage'].apply(clean).astype(np.number)
data['happy_score']=data['happy_score'].astype(np.number)

In [23]:
data.head()

   country  yes_percentage  happy_score
0  Estonia            16.0     5.628909
1   Sweden            17.0     7.288922
2  Denmark            19.0     7.514425
3   Norway            22.0     7.603434
4    Japan            24.0     5.879684

In [24]:
#H0: importance of religion is independent to the happy score of each country
#data_h['yes_percentage']=data_s['yes_percentage']

In [25]:
data_h=data[data['happy_score']>5.5]
data_s=data[data['happy_score']<=5.5]

In [26]:
import scipy.stats as st
table=pd.crosstab(data_h['yes_percentage'], data_h['yes_percentage'])
p=st.chi2_contingency(table)[1]
print(p)
if p > 0.05:
    print('Probably independent')
else:
    print('Probably dependent')

2.0804627004984745e-27
Probably dependent

In [29]:
data.to_csv('hip_religion1.csv')

In [28]:
data.dtypes

country            object
yes_percentage    float64
happy_score       float64
dtype: object