In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass 
import numpy as np
password = getpass.getpass()

········

In [2]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/happiness'
engine = create_engine(connection_string)
query = '''SELECT h.country, a.value , h.happy_score
FROM alcohols a
JOIN hscore h
USING (country);'''

data = pd.read_sql_query(query, engine)
data.head()

       country  value  happy_score
0  Afghanistan   0.21     3.982855
1      Albania   6.74     4.606651
2    Argentina   9.55     6.697131
3      Armenia   5.84     4.348320
4    Australia  10.83     7.309061

In [5]:
data['happy_score'].describe()

count    130.000000
mean       5.433113
std        1.125982
min        2.701591
25%        4.621119
50%        5.379119
75%        6.339649
max        7.603434
Name: happy_score, dtype: float64

In [28]:
data['value']=data['value'].astype(np.number)
data['happy_score']=data['happy_score'].astype(np.number)

In [29]:
data_h=data[data['happy_score']>5.5]

In [30]:
data_h.head()

     country  value  happy_score
2  Argentina   9.55     6.697131
4  Australia  10.83     7.309061
5    Austria  12.07     7.076447
7    Bahrain   1.30     6.007375
9    Belarus  12.00     5.718908

In [31]:
data_s=data[data['happy_score']<=5.5]

In [32]:
data_s.head()

       country  value  happy_score
0  Afghanistan  0.210     3.982855
1      Albania  6.740     4.606651
3      Armenia  5.840     4.348320
6   Azerbaijan  4.580     5.146775
8   Bangladesh  0.021     4.633474

In [33]:
#H0: alcohol abuse is independent to the happy score of each country
#data_h['value']=data_s['value']

In [34]:
import scipy.stats as st
table=pd.crosstab(data_h['value'], data_h['value'])
p=st.chi2_contingency(table)[1]
print(p)
if p > 0.05:
    print('Probably independent')
else:
    print('Probably dependent')

0.0027612039650190302
Probably dependent

In [37]:
data.to_csv('hip_alcohol1.csv')

In [36]:
data.dtypes

country         object
value          float64
happy_score    float64
dtype: object