In [1]:
import imblearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
education_df=pd.read_csv('education5.csv')

In [4]:
education_df

,BLcode,country,year,sex,agefrom,ageto,lu,lp,lpc,ls,lsc,lh,lhc,yr_sch,yr_sch_pri,yr_sch_sec,yr_sch_ter,WBcode,region_code,pop
0,1,Algeria,1950,MF,15,64,81.12,17.10,3.65,1.48,0.50,0.30,0.18,0.834,0.729,0.095,0.010,DZA,Middle East and North Africa,4858.0
1,1,Algeria,1955,MF,15,64,81.50,16.54,3.43,1.66,0.53,0.26,0.17,0.823,0.714,0.100,0.008,DZA,Middle East and North Africa,5302.0
2,1,Algeria,1960,MF,15,64,82.50,14.29,3.16,2.88,1.02,0.33,0.19,0.896,0.716,0.169,0.010,DZA,Middle East and North Africa,5658.0
3,1,Algeria,1965,MF,15,64,80.08,15.00,4.21,4.46,1.90,0.45,0.24,1.151,0.871,0.267,0.014,DZA,Middle East and North Africa,5982.0
4,1,Algeria,1970,MF,15,64,72.02,20.25,6.06,7.25,3.87,0.38,0.18,1.690,1.247,0.432,0.011,DZA,Middle East and North Africa,6531.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2039,358,Ukraine,1995,MF,15,64,1.49,6.41,5.38,62.19,44.42,29.91,18.96,10.811,5.296,4.538,0.977,UKR,Europe and Central Asia,33996.0
2040,358,Ukraine,2000,MF,15,64,0.52,3.19,2.85,59.08,43.18,36.99,24.09,11.343,5.408,4.713,1.222,UKR,Europe and Central Asia,33469.0
2041,358,Ukraine,2005,MF,15,64,0.29,3.82,3.56,56.51,43.04,39.38,24.63,11.518,5.415,4.823,1.280,UKR,Europe and Central Asia,32069.0
2042,358,Ukraine,2010,MF,15,64,0.23,5.02,4.76,52.34,41.00,42.41,26.42,11.533,5.299,4.858,1.377,UKR,Europe and Central Asia,31091.0
2043,358,Ukraine,2015,MF,15,64,0.24,6.34,6.04,49.08,39.18,44.35,27.38,11.568,5.322,4.812,1.434,UKR,Europe and Central Asia,31027.0

In [6]:
education_df=education_df[education_df['year']==2015]

In [11]:
education_df=education_df.reset_index()
education_df=education_df.drop(['index'],axis=1)

In [12]:
len(education_df['country'].unique())

146

In [14]:
education=education_df[['country','lu','lpc','lsc','lhc','yr_sch']]

In [15]:
education

,country,lu,lpc,lsc,lhc,yr_sch
0,Algeria,13.78,26.26,19.54,9.01,7.710
1,Benin,44.56,14.26,20.44,2.97,5.515
2,Botswana,5.31,5.41,28.73,5.30,10.318
3,Burundi,47.62,17.92,4.66,0.91,3.435
4,Cameroon,12.97,32.79,16.61,3.08,7.124
...,...,...,...,...,...,...
141,Republic of Moldova,0.47,2.91,33.33,21.61,11.167
142,Serbia,0.97,2.58,55.93,12.03,11.659
143,Slovenia,0.19,1.08,55.04,15.52,12.150
144,"China, Macao Special Administrative Region",1.37,13.12,30.86,16.82,9.657
145,Ukraine,0.24,6.04,39.18,27.38,11.568

In [17]:
education.isna().sum()/len(education)

country    0.0
lu         0.0
lpc        0.0
lsc        0.0
lhc        0.0
yr_sch     0.0
dtype: float64

In [20]:
list(education['country'].sort_values())

['Afghanistan',
 'Albania',
 'Algeria',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belgium',
 'Belize',
 'Benin',
 'Bolivia',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chile',
 'China',
 'China, Hong Kong Special Administrative Region',
 'China, Macao Special Administrative Region',
 'Colombia',
 'Congo',
 'Costa Rica',
 'Cote dIvoire',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Dominican Rep.',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lesotho',
 'Liberia',
 'Libyan Arab Jamahiriya',
 'Lithuania',
 'Luxembourg',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Mongolia',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Norway',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Republic of Korea',
 'Republic of Moldova',
 'Reunion',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Taiwan',
 'Tajikistan',
 'Thailand',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'USA',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United Republic of Tanzania',
 'Uruguay',
 'Venezuela',
 'Viet Nam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [31]:
def rename(x):
    if x=='Libyan Arab Jamahiriya':
        return 'Libya'
    elif x=='Papua New Guinea':
        return 'Guinea'
    elif x=='Republic of Moldova':
        return 'Moldova'
    elif x=='Iran (Islamic Republic of)':
        return 'Iran'
    elif x=='Russian Federation':
        return 'Russia'
    elif x=='Syrian Arab Republic':
        return 'Syria'
    elif x=='United Republic of Tanzania':
        return 'Tanzania'
    elif x=='Viet Nam':
        return 'Vietnam'
    else:
        return x

In [32]:
education['country']=education['country'].apply(rename)

<ipython-input-32-8aa68e8cd865>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  education['country']=education['country'].apply(rename)

In [33]:
education.to_csv('EDUCATION.csv')